<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 <connectionStrings>
 <add name="SQLAzureConnection" connectionString="Data Source=axensionsqlone.database.windows.net;Initial Catalog=designngifts;Integrated Security=False;User ID=axension88;Password=DonkeyE!ephant;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>